Repository BE15-DevEagles/be15-4th-DevEagles-Goody, pull requests merged in 2025-05, with the labels that each got.

#101 feat:DEV-7 #comment 채팅 기능 의존성 설정,application-example.yml 추가함
  .gitignore
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/JacksonConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/WebSocketConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/GlobalExceptionHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/BusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/ChatBusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/ChatErrorCode.java
  be15_DevEagles_BE/src/main/resources/application-example.yml
  be15_DevEagles_BE/src/main/resources/logback-spring.xml
Labels: feat

#102 Feature/dev 8 be cqrs 모듈 구조 설계 도메인 entity 구현
  .gitignore
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/WebSocketConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/GlobalExceptionHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ChatAttachment.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ChatMessage.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ChatRoom.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ChatroomParticipant.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ReadReceipt.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserMoodHistory.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserThumbnail.java
  be15_DevEagles_BE/src/main/resources/application-example.yml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/Be15DevEaglesBeApplicationTests.java
Labels: feat

#120 Feature/dev 81 be User 도메인 entity 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/entity/User.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/entity/UserStatus.java
Labels: feat

#126 Feature/dev 16 be mongo db 연결 및 레포지토리 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/MongoDBConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/dto/PagedResult.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ReadReceipt.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ChatMessageRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ChatRoomRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ChatroomParticipantRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ReadReceiptRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatMessageRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatRoomRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatroomParticipantRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoReadReceiptRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoChatMessageRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoChatRoomRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoChatroomParticipantRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoReadReceiptRepository.java
Labels: feat

#128 feat:DEV-52 #todolist CQRS 모듈 구조 설계, todo 도메인 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/domain/aggregate/Todo.java
Labels: feat

#127 feat:DEV-17 #comment 몽고DB config 채팅 도메인 안으로 이동, 웹소켓, STOMP 설정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/WebSocketConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/mongodb/MongoDBConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketAuthenticationHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketConnectionEventHandler.java
Labels: feat

#134 feat: DEV-84 #comment Team 도메인 Entity 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/Team.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/TeamMember.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/TeamMemberId.java
Labels: feat

#135 Feature/dev 24 be 채팅방 참여자 추가 제거 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/BusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/ErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/ErrorCodeType.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/exception/GlobalExceptionHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatRoomController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/ChatRoomService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatRoomServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/ChatAttachment.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserThumbnail.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/ChatBusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/ChatErrorCode.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/common/exception/BusinessExceptionTestUtil.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/common/exception/GlobalExceptionHandlerTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/exception/ChatExceptionTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/service/ChatRoomParticipantTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/service/ChatRoomServiceTest.java
Labels: feat

#137 Fix/dev 84 be User entity 컬럼 수정 요청
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/entity/User.java
Labels: fix

#142 Feature/dev 29 be gemini api 연결 및 채팅 감정 분석 기능 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/RestTemplateConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/AiChatController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/AiChatService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/MoodInquiryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/PromptTemplate.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/MoodInquiryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserMoodHistory.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/GeminiApiException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/HuggingFaceApiException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ChatMessageRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/UserMoodHistoryRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/GeminiApiAdapter.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapter.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatMessageRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoChatMessageRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/mongodb/MongoDBConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketConnectionEventHandler.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/MoodInquiryServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/GeminiApiAdapterIntegrationTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/GeminiApiAdapterTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapterIntegrationTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapterTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatMessageRepositoryIntegrationTest.java
  be15_DevEagles_BE/src/test/resources/application.properties
Labels: feat

#148 refactor:DEV-29 #comment JACKSON config(localtime 직렬화 몽고DB 등에 필요), RestTe…
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/RestTemplateConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserMoodHistory.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapter.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/GeminiApiAdapterIntegrationTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapterIntegrationTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/adapters/HuggingFaceApiAdapterTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatMessageRepositoryIntegrationTest.java
Labels: refactor

#155 Chore/application example.yml
  be15_DevEagles_BE/src/main/resources/application-example.yml
Labels: bug, chore

#164 Feature/ dev 47 be 회원 가입 기능 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/dto/request/UserCreateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/User.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/UserStatus.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/exception/UserBusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/exception/UserErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/entity/UserStatus.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/repository/UserRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: feat

#167 Feature/dev 54 be todo 작성 서비스 구현
  .gitignore
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/TeamMember.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/dto/request/CreateTodoRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/dto/response/TodoResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/domain/aggregate/Todo.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/domain/repository/TodoRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/InvalidTodoDateException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/TodoErrorCode.java
  be15_DevEagles_BE/src/main/resources/application.yml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoServiceTest.java
Labels: enhancement

#170 Fix/dev 109 be todo 작성 service fix
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoService.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoServiceTest.java
Labels: fix

#171 feature:DEV-59 #comment todolist 완료 서비스 구현, 테스트 코드 작성
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/TodoErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/TodoNotFoundException.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoServiceTest.java
Labels: enhancement

#169 feat: DEV-58 #comment 팀 생성 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/request/CreateTeamRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/response/CreateTeamResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/exception/TeamBusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/exception/TeamErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/repository/TeamRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/infrastructure/repository/JpaTeamRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandServiceTest.java
Labels: feat

#174 Feature/dev 57 be todo 삭제 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoService.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoServiceTest.java
Labels: feat

#176 Chore/precommit
  be15_DevEagles_FE/package.json
Labels: chore

#177 Feature/dev 55 be todo command 컨트롤러 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/controller/TodoController.java
Labels: feat

#181 Feature/dev 48 be spring security 적용을 위한 환경 변수 및 애플리케이션 구성 파일 설정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/HMACKeyGenerator.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/RedisConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/JwtAuthenticationFilter.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/JwtTokenProvider.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/RestAccessDeniedHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/RestAuthenticationEntryPoint.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/response/TokenResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/model/CustomUser.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/CustomUserDetailsService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/RefreshTokenService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/RefreshTokenServiceImpl.java
Labels: feat

#182 Feature/ dev 89 be #comment 로그인 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/request/LoginRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/repository/UserRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/impl/AuthServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/exception/AuthExceptionTest.java
Labels: feat

#184 Refactor/ dev 89 be 로그인 시 refreshToken 쿠키 저장
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
Labels: refactor

#186 Feature/ dev 113 be 회원 로그아웃 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
Labels: feat

#187 Refactor/dev 114 be 팀 생성 기능 로직 수정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/request/CreateTeamRequest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandServiceTest.java
Labels: refactor

#188 feat: DEV-65 #comment 팀원 초대 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/request/InviteTeamMemberRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/exception/TeamErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/repository/TeamMemberRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/repository/TeamRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/infrastructure/repository/JpaTeamMemberRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/CreateTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/InviteTeamMemberTest.java
Labels: feat

#189 fix:DEV-112 #comment todo command 전체 수정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/controller/TodoController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/domain/aggregate/Todo.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/TodoErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/exception/TodoUnauthorizedAccessException.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/TodoServiceTest.java
Labels: fix

#191 Feature/ dev 108 be 회원 마이페이지 조회 기능 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/dto/response/UserDetailResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/exception/UserErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/repository/UserRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: feat

#226 feat: DEV-67 #comment 팀원 추방 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/request/FireTeamMemberRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/TeamMember.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/exception/TeamErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/repository/TeamMemberRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/FireTeamMemberTest.java
Labels: feat

#227 favicon 업로드
  be15_DevEagles_FE/public/android-icon-144x144.png
  be15_DevEagles_FE/public/android-icon-192x192.png
  be15_DevEagles_FE/public/android-icon-36x36.png
  be15_DevEagles_FE/public/android-icon-48x48.png
  be15_DevEagles_FE/public/android-icon-72x72.png
  be15_DevEagles_FE/public/android-icon-96x96.png
  be15_DevEagles_FE/public/apple-icon-114x114.png
  be15_DevEagles_FE/public/apple-icon-120x120.png
  be15_DevEagles_FE/public/apple-icon-144x144.png
  be15_DevEagles_FE/public/apple-icon-152x152.png
  be15_DevEagles_FE/public/apple-icon-180x180.png
  be15_DevEagles_FE/public/apple-icon-57x57.png
  be15_DevEagles_FE/public/apple-icon-60x60.png
  be15_DevEagles_FE/public/apple-icon-72x72.png
  be15_DevEagles_FE/public/apple-icon-76x76.png
  be15_DevEagles_FE/public/apple-icon-precomposed.png
  be15_DevEagles_FE/public/apple-icon.png
  be15_DevEagles_FE/public/browserconfig.xml
  be15_DevEagles_FE/public/favicon-16x16.png
  be15_DevEagles_FE/public/favicon-32x32.png
  be15_DevEagles_FE/public/favicon-96x96.png
  be15_DevEagles_FE/public/favicon.ico
  be15_DevEagles_FE/public/manifest.json
  be15_DevEagles_FE/public/ms-icon-144x144.png
  be15_DevEagles_FE/public/ms-icon-150x150.png
  be15_DevEagles_FE/public/ms-icon-310x310.png
  be15_DevEagles_FE/public/ms-icon-70x70.png
  be15_DevEagles_FE/src/features/chat/components/ChatRoomListView.vue
Labels: chore

#230 Feature/dev 76 be todo 상세 조회 서비스 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/TodoDetailResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/domain/repository/TodoQueryRepository.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoQueryServiceTest.java
Labels: feat

#231 Feature/dev 90 be 회원 정보 변경 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/dto/request/UserUpdateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/User.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: feat

#234 fix:DEV-153 #comment todo 상세 조회 서비스 수정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/TodoDetailResponse.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoQueryServiceTest.java
Labels: fix

#236 feature:DEV-73 #comment 내 캘린더 조회 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/MyCalendarTodoResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/mapper/TodoCalendarQueryMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoCalendarQueryService.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoCalendarQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoCalendarQueryServiceTest.java
Labels: feat

#237 feature:DEV-74 #comment 내 todo 리스트 조회 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/MyDdayTodoPage.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/MyDdayTodoResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/mapper/TodoDdayQueryMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoDdayQueryService.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoDdayQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoDdayQueryServiceTest.java
Labels: feat

#239 Refactor/ DEV-113-BE 로그아웃 시 accessToken 만료 추가
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/JwtAuthenticationFilter.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/JwtTokenProvider.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
Labels: refactor

#242 feat: DEV-64 #comment 팀 삭제 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/Team.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/exception/TeamErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/repository/TeamMemberRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/DeleteTeamTest.java
Labels: feat

#244 feature/ dev 91 be 회원 비밀번호 변경 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/dto/request/UserPasswordRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: feat, fix

#246 feat: DEV-60 #comment 팀 목록 조회 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/controller/TeamQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/dto/response/MyTeamListResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/mapper/TeamMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/service/TeamQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/service/impl/TeamQueryServiceImpl.java
  be15_DevEagles_BE/src/main/resources/mappers/features/team/TeamMapperQuery.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/query/application/service/MyTeamListTest.java
Labels: feat

#247 Feature/ DEV-92-BE #comment 회원 아이디 찾기 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/request/UserFindIdRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/response/UserFindIdResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/repository/UserRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/impl/AuthServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/exception/AuthExceptionTest.java
Labels: feat

#248 Feature/DEV-154-BE #comment 회원 탈퇴 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/User.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
Labels: feat

#252 feat: DEV-61 #comment 팀원 조회 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/controller/TeamQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/dto/response/TeamMemberResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/mapper/TeamMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/service/TeamQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/service/impl/TeamQueryServiceImpl.java
  be15_DevEagles_BE/src/main/resources/mappers/features/team/TeamMapperQuery.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/query/application/service/MyTeamListTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/query/application/service/TeamMemberListTest.java
Labels: feat

#250 Feature/dev 23 be 채팅방 조회 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatMessageController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/dto/response/UserStatusMessage.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatMessageServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/WebSocketMessageService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/exception/ChatErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketAuthenticationHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketEventHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/ChatroomQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/MessageQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/ChatroomListResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/ChatroomReadSummaryResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/ChatroomResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/MessageListResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/MessageReadStatusResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/dto/response/MessageResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/ChatroomQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/MessageQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/ChatroomQueryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/domain/repository/ChatroomQueryRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/domain/repository/MessageQueryRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/infrastructure/repository/MongoChatroomQueryRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/infrastructure/repository/MongoMessageQueryRepositoryImpl.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/Be15DevEaglesBeApplicationTests.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/common/exception/BusinessExceptionTestUtil.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/ChatroomQueryServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImplTest.java
Labels: feat

#255 Feature/ dev 117 be #comment spring-security-role-저장
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/model/CustomUser.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/CustomUserDetailsService.java
Labels: feat

#251 Feature/dev 155 fe 프론트 공통 레이아웃 컴포넌트 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/ChatroomQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/MessageQueryController.java
  be15_DevEagles_FE/index.html
  be15_DevEagles_FE/jsconfig.json
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/postcss.config.js
  be15_DevEagles_FE/public/assets/css/styleguide.css
  be15_DevEagles_FE/public/assets/image/logo-goody-with-text.png
  be15_DevEagles_FE/public/assets/image/logo-goody.png
  be15_DevEagles_FE/src/App.vue
  be15_DevEagles_FE/src/assets/css/index.css
  be15_DevEagles_FE/src/assets/test.css
  be15_DevEagles_FE/src/components/common/layout/Content.vue
  be15_DevEagles_FE/src/components/common/layout/ErrorPage.vue
  be15_DevEagles_FE/src/components/common/layout/Footer.vue
  be15_DevEagles_FE/src/components/common/layout/Header.vue
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/components/common/layout/TeamSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/index.js
  be15_DevEagles_FE/src/components/common/test.vue
  be15_DevEagles_FE/src/components/layout/test.vue
  be15_DevEagles_FE/src/main.js
  be15_DevEagles_FE/src/router/index.js
  be15_DevEagles_FE/src/views/Home.vue
  be15_DevEagles_FE/tailwind.config.js
  be15_DevEagles_FE/vite.config.js
  docker-compose.yml
Labels: feat

#261 Refactor/dev 156 fe right side bar 리팩토링 컴포넌트 분할
  be15_DevEagles_FE/index.html
  be15_DevEagles_FE/src/assets/css/index.css
  be15_DevEagles_FE/src/components/common/layout/CollapsedSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/Content.vue
  be15_DevEagles_FE/src/components/common/layout/Footer.vue
  be15_DevEagles_FE/src/components/common/layout/Header.vue
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/components/common/layout/SidebarHeader.vue
  be15_DevEagles_FE/src/components/common/layout/TeamSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/composables/useSidebar.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/components/ChatRoomListView.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/composables/useChatData.js
  be15_DevEagles_FE/src/features/team/components/TeamMemberList.vue
  be15_DevEagles_FE/src/features/team/composables/useTeamData.js
Labels: refactor

#264 feat: DEV-72 #comment S3설정 및 파일 업로드 서비스 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/S3Config.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/dto/response/TeamMemberResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/impl/WorklogServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/domain/repository/WorklogRepository.java
  be15_DevEagles_BE/src/main/resources/application.yml
Labels: feat

#267 feature:DEV-106 나의 업무일지 조회하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/response/TeamResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/controller/WorklogCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/dto/request/SearchWorklogRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/dto/response/WorklogResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/PageRequestUtil.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/WorklogService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/impl/WorklogServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/domain/repository/WorklogRepository.java
Labels: feat

#266 Feature/dev 110 be todo query 컨트롤러 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/controller/TodoQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/request/TeamTodoSearchRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/mapper/TodoTeamQueryMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoTeamQueryService.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoCalendarQueryMapper.xml
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoDdayQueryMapper.xml
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoTeamQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoTeamQueryServiceTest.java
Labels: feat, fix

#269 Dev 75 be 업무일지 작성 여부 조회 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/dto/response/TeamResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/controller/TodoController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/dto/response/WorklogWrittenCheckResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/WorklogQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/domain/repository/WorklogQueryRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/controller/WorklogCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/dto/request/SearchWorklogRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/PageRequestUtil.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/WorklogService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/impl/WorklogServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/domain/repository/WorklogRepository.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/service/WorklogQueryServiceTest.java
Labels: feat

#268 [BE] 타입캡슐 생성
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/controller/TimecapsuleController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/dto/TimecapsuleCreateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/entity/Timecapsule.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/exception/TimecapsuleNotFoundException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/repository/TimecapsuleRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/service/TimecapsuleService.java
Labels: feat

#270 feature:DEV-107 팀 업무일지 목록 조회하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/controller/WorklogCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/WorklogService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/impl/WorklogServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/domain/repository/WorklogRepository.java
Labels: feat

#271 Feature/dev 53 be 개인정보 인증을 위한 이메일 전송 기능 구현
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/EmailConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/request/SendAuthEmailRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/request/UserVerifyRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthCodeService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/MailService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/User.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/exception/UserErrorCode.java
  be15_DevEagles_BE/src/main/resources/application.yml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/impl/AuthServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/auth/command/exception/AuthExceptionTest.java
Labels: feat

#272 Refactor/ DEV-158-BE #comment 스프링 시큐리티 필터 체인 수정
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
Labels: refactor

#273 Feature/dev 71 be 팀 썸네일 변경 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/controller/TeamController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TeamCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/domain/aggregate/Team.java
  be15_DevEagles_BE/src/main/resources/application.yml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/CreateTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/DeleteTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/FireTeamMemberTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/InviteTeamMemberTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TransferLeaderTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/UploadTeamThumbnailTest.java
Labels: feat

#277 Feature/dev 25 be 채팅 rest 컨트롤러 구현 및 swagger 적용
  be15_DevEagles_BE/build.gradle
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/AiChatController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatMessageController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatRoomController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/ChatroomQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/controller/MessageQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/WorklogService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/domain/repository/WorklogRepository.java
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/components/common/layout/index.js
  be15_DevEagles_FE/src/features/chat/composables/useChatData.js
  be15_DevEagles_FE/src/main.js
  be15_DevEagles_FE/vite.config.js
Labels: feat

#275 Feature/dev 93 be 회원 비밀번호 찾기 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/dto/request/UserFindPwdRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/MailService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/repository/UserRepository.java
  be15_DevEagles_BE/src/main/resources/application.yml
Labels: feat

#279 Feature/dev 97 fe 웹소켓 설정 및 연결
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserMoodHistory.java
  be15_DevEagles_FE/eslint.config.js
  be15_DevEagles_FE/src/api/axios.js
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/index.js
  be15_DevEagles_FE/src/features/chat/api/api.js
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/components/ChatRoomListView copy.vue
  be15_DevEagles_FE/src/features/chat/components/ChatRoomListView.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/config/chatConfig.js
  be15_DevEagles_FE/src/main.js
  be15_DevEagles_FE/src/store/auth.js
  package.json
Labels: feat

#283 feature:DEV-102 댓글 등록하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/controller/CommentCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/dto/request/CommentCreateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/dto/response/CommentResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/CommentService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/impl/CommentServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/domain/aggregate/Comment.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/domain/exception/CommentBusinessException.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/domain/exception/CommentErrorCode.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/domain/repository/CommentRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/worklog/command/application/service/impl/WorklogServiceImpl.java
Labels: feat

#290 feature:DEV-104 댓글 조회하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/controller/CommentCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/CommentService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/impl/CommentServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/domain/repository/CommentRepository.java
Labels: feat

#291 feature:DEV-103 댓글 수정하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/controller/CommentCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/dto/request/CommentUpdateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/CommentService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/impl/CommentServiceImpl.java
Labels: feat

#292 Feature/DEV 159 BE #comment 회원 프로필 이미지 저장
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/aggregate/User.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/domain/exception/UserErrorCode.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: feat

#295 Feature/dev 169 fe 공통 컴포넌트 생성 예제 생성 스타일 정의
  .github/workflows/scheduled-build-test.yml
  be15_DevEagles_FE/public/assets/css/components.css
  be15_DevEagles_FE/src/assets/css/index.css
  be15_DevEagles_FE/src/components/common/components/BaseButton.vue
  be15_DevEagles_FE/src/components/common/components/BaseForm.vue
  be15_DevEagles_FE/src/components/common/components/BaseModal.vue
  be15_DevEagles_FE/src/components/common/components/Pagaination.vue
  be15_DevEagles_FE/src/plugin/axios.js
  be15_DevEagles_FE/src/store/test.js
  be15_DevEagles_FE/src/views/Home.vue
  be15_DevEagles_FE/src/views/Reference.vue
Labels: chore

#294 feature:DEV-105 댓글 삭제하기
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/controller/CommentCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/CommentService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/comment/command/application/service/impl/CommentServiceImpl.java
Labels: feat

#299 feat: DEV-70-be-타입캡슐 조회
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/controller/TimecapsuleController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/dto/TimecapsuleCreateRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/entity/Timecapsule.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/repository/TimecapsuleRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/service/TimecapsuleService.java
Labels: chore

#304 feat: DEV-137-FE #comment 팀 생성 컴포넌트 모달 구현 및 api 연동
  be15_DevEagles_FE/src/components/common/layout/TeamSidebar.vue
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/CreateTeamModal.vue
  be15_DevEagles_FE/src/features/team/components/TeamMemberList.vue
  be15_DevEagles_FE/src/features/team/router.js
  be15_DevEagles_FE/src/store/team.js
Labels: feat

#302 Feature/dev 168 be 타입캡슐 출력
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/command/application/controller/TimecapsuleController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/command/application/service/TimecapsuleService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/timecapsule/command/repository/TimecapsuleRepository.java
Labels: fix

#307 Feature/dev 18 be redis 설정 세션 관리 및 캐싱 서비스 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatMessageServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/ChatConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketEventHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/infrastructure/adapters/ChatInitializer.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/infrastructure/adapters/ChatRedisSyncScheduler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImpl.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/Be15DevEaglesBeApplicationTests.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImplTest.java
Labels: feat

#308 fix:DEV-173 #comment BE todo 상세 조회 컨트롤러 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/controller/TodoQueryController.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoQueryMapper.xml
Labels: feat, fix

#310 Feature/dev 124 fe 회원가입 화면 생성 및 api 연동
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/controller/AuthController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/auth/command/application/service/AuthServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/controller/UserCommandController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/dto/request/UserDuplRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_FE/public/assets/image/profile-default.png
  be15_DevEagles_FE/src/App.vue
  be15_DevEagles_FE/src/components/common/components/BaseForm.vue
  be15_DevEagles_FE/src/components/common/components/BaseModal.vue
  be15_DevEagles_FE/src/features/user/api/user.js
  be15_DevEagles_FE/src/features/user/components/ProfileUpload.vue
  be15_DevEagles_FE/src/features/user/router..js
  be15_DevEagles_FE/src/features/user/router.js
  be15_DevEagles_FE/src/features/user/views/EmailVerifyView.vue
  be15_DevEagles_FE/src/features/user/views/LoginView.vue
  be15_DevEagles_FE/src/features/user/views/SignUpView.vue
  be15_DevEagles_FE/src/router/index.js
Labels: feat

#311 Feature/dev 125 fe 채팅 목록 메세지 조회 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/Be15DevEaglesBeApplication.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketConfig.java
  be15_DevEagles_BE/src/main/resources/application.yml
  be15_DevEagles_FE/src/components/common/layout/Content.vue
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/TeamSidebar.vue
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/composables/useChatData.js
  be15_DevEagles_FE/src/features/chat/config/chatConfig.js
  be15_DevEagles_FE/src/features/user/views/LoginView.vue
  be15_DevEagles_FE/src/main.js
  be15_DevEagles_FE/src/store/chat.js
Labels: feat

#312 fix : ErrorPage import 중복 삭제
  be15_DevEagles_FE/src/router/index.js
Labels: fix

#315 Feature/ DEV-175-fe-로그아웃-api-연동
  be15_DevEagles_FE/src/components/common/layout/Header.vue
  be15_DevEagles_FE/src/features/user/api/user.js
Labels: feat

#314 Feature/dev 170 fe 캘린더 api 연동
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/controller/TodoQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/MyCalendarTodoResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/response/TodoDetailResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoQueryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/domain/repository/TodoQueryRepository.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoCalendarQueryMapper.xml
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoQueryMapper.xml
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/features/todolist/api/api.js
  be15_DevEagles_FE/src/features/todolist/components/TodoCalendar.vue
  be15_DevEagles_FE/src/features/todolist/router.js
  be15_DevEagles_FE/src/features/todolist/views/MyCalendarView.vue
  be15_DevEagles_FE/src/features/todolist/views/TeamCalendarView.vue
  be15_DevEagles_FE/src/router/index.js
Labels: feat

#318 Fix/ DEV-172-BE #comment 회원가입 정보 수정 단위 테스트 수정 요청
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
Labels: fix

#317 Feature/dev 100 be 채팅 알림 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/dto/response/NotificationSettingResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/dto/response/NotificationToggleResponse.java
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/src/assets/css/toast.css
  be15_DevEagles_FE/src/composables/useNotifications.js
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/main.js
Labels: feat

#320 Feature/dev 176 fe 채팅 무한스크롤 그룹핑 등 편의 기능 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/config/SecurityConfig.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/AiChatController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatRoomController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/dto/response/ChatMessageResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/ChatRoomService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatMessageServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatRoomServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/repository/ChatRoomRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/MongoChatRoomRepositoryImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/infrastructure/repository/SpringDataMongoChatRoomRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/ChatroomQueryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/domain/repository/ChatroomQueryRepository.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/infrastructure/repository/MongoChatroomQueryRepositoryImpl.java
  be15_DevEagles_FE/public/assets/image/suri.jpg
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/composables/useChatInfiniteScroll.js
  be15_DevEagles_FE/src/features/chat/composables/useChatRoom.js
  be15_DevEagles_FE/src/features/chat/composables/useChatScroll.js
  be15_DevEagles_FE/src/features/chat/composables/useChatWebSocket.js
  be15_DevEagles_FE/src/features/chat/composables/useChatWindow.js
  be15_DevEagles_FE/src/features/chat/composables/useDebounce.js
  be15_DevEagles_FE/src/features/chat/composables/useMessages.js
  be15_DevEagles_FE/src/features/chat/composables/useNotifications.js
  be15_DevEagles_FE/src/features/chat/types/index.js
  be15_DevEagles_FE/src/features/chat/utils/chatUtils.js
  be15_DevEagles_FE/src/features/chat/utils/index.js
  be15_DevEagles_FE/src/features/chat/utils/messageUtils.js
  be15_DevEagles_FE/src/features/chat/utils/timeUtils.js
  be15_DevEagles_FE/src/store/chat.js
Labels: feat

#319 Feature/dev 135 fe 팀 정보 페이지 구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/query/dto/response/TeamInformationResponse.java
  be15_DevEagles_BE/src/main/resources/mappers/features/team/TeamMapperQuery.xml
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
  be15_DevEagles_FE/src/features/team/components/TeamMemberInviteModal.vue
  be15_DevEagles_FE/src/features/team/components/UpdateTeamThumbnailModal.vue
  be15_DevEagles_FE/src/features/team/router.js
  be15_DevEagles_FE/src/features/team/views/TeamInformationView.vue
  be15_DevEagles_FE/src/router/index.js
  be15_DevEagles_FE/tsconfig.json
Labels: feat

#321 Feature/dev 141 fe todo 목록 조회 view구현
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/controller/TodoQueryController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/dto/request/TeamTodoSearchRequest.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/mapper/TodoTeamQueryMapper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoTeamQueryService.java
  be15_DevEagles_BE/src/main/resources/mappers/features/todolist/TodoTeamQueryMapper.xml
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoCalendarQueryServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/service/TodoTeamQueryServiceTest.java
  be15_DevEagles_FE/src/components/common/layout/Content.vue
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/features/todolist/api/api.js
  be15_DevEagles_FE/src/features/todolist/router.js
  be15_DevEagles_FE/src/features/todolist/views/TeamTodoListView.vue
Labels: feat, fix

#322 feat:DEV-139 FE #comment 팀 todolist, 개인 todolist 구현
  be15_DevEagles_FE/src/features/todolist/api/api.js
  be15_DevEagles_FE/src/features/todolist/views/MyCalendarView.vue
  be15_DevEagles_FE/src/features/todolist/views/TeamCalendarView.vue
Labels: feat

#325 Feature/dev 142 fe 팀원 조회 api 연동
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
Labels: feat

#328 feat: DEV-145-FE #comment 팀원 초대 API 연동
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
  be15_DevEagles_FE/src/features/team/components/TeamMemberInviteModal.vue
Labels: feat

#326 Feature/dev 177 fe ai 답변 기능
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/dto/response/ChatMessageResponse.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/PromptTemplate.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatMessageServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/domain/aggregate/UserMoodHistory.java
  be15_DevEagles_FE/src/features/chat/api/aiChatService.js
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/components/AiMessageBubble.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/composables/useAiChat.js
  be15_DevEagles_FE/src/features/chat/composables/useChatWebSocket.js
  be15_DevEagles_FE/src/features/chat/utils/aiMessageUtils.js
  be15_DevEagles_FE/src/features/chat/utils/chatUtils.js
Labels: feat

#329 feat: DEV-145-FE #comment 팀원 추방 API 연동
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
Labels: feat

#331 feat: DEV-145-FE #comment 팀장 권한 양도 API 연동
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
Labels: feat

#334 feat: DEV-144-FE #comment 팀 탈퇴 기능 API 연동
  be15_DevEagles_FE/src/features/team/api/team.js
  be15_DevEagles_FE/src/features/team/components/TeamInformationForm.vue
Labels: feat

#341 Feature/dev 134 fe 회원정보 수정 화면 생성 및 api 연동
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/features/user/api/user.js
  be15_DevEagles_FE/src/features/user/components/PasswordCheckModal.vue
  be15_DevEagles_FE/src/features/user/components/ProfileUpload.vue
  be15_DevEagles_FE/src/features/user/components/UserProfileCard.vue
  be15_DevEagles_FE/src/features/user/mypageRouter.js
  be15_DevEagles_FE/src/features/user/views/MyPageView.vue
  be15_DevEagles_FE/src/features/user/views/UserEditPageView.vue
Labels: feat

#342 Feature/ DEV-136-fe-비밀번호-변경-화면-생성-및-api-연동
  be15_DevEagles_FE/src/features/user/api/user.js
  be15_DevEagles_FE/src/features/user/mypageRouter.js
  be15_DevEagles_FE/src/features/user/views/MyPageView.vue
  be15_DevEagles_FE/src/features/user/views/PwdEditPageView.vue
  be15_DevEagles_FE/src/features/user/views/UserEditPageView.vue
Labels: feat

#351 Feature/dev 184 be 채팅 백엔드 서비스 메서드 리팩토링
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/AiChatController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/MoodInquiryService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/PromptTemplate.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatMessageServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/ChatRoomServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/MoodInquiryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/WebSocketMessageService.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/util/ChatRoomHelper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/util/ChatRoomOperationHelper.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/util/ChatRoomValidator.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/util/ParticipantValidator.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketEventHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/ChatroomQueryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/util/ChatroomResponseConverter.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/util/MessageResponseConverter.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/AiChatServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/application/service/impl/MoodInquiryServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/service/ChatRoomParticipantTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/command/service/ChatRoomServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/ChatroomQueryServiceImplTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/chat/query/application/service/impl/MessageQueryServiceImplTest.java
Labels: refactor

#354 refactor : 로그인 이벤트 엔터키로 호출
  be15_DevEagles_FE/src/features/user/views/LoginView.vue
Labels: refactor

#360 Feature/dev 138 fe todolist 관련 모달 구현
  be15_DevEagles_FE/package.json
  be15_DevEagles_FE/src/features/todolist/api/api.js
  be15_DevEagles_FE/src/features/todolist/components/TodoDetailModal.vue
  be15_DevEagles_FE/src/features/todolist/views/MyCalendarView.vue
  be15_DevEagles_FE/src/features/todolist/views/TeamCalendarView.vue
  be15_DevEagles_FE/src/features/todolist/views/TeamTodoListView.vue
  be15_DevEagles_FE/src/main.js
Labels: feat

#367 feat:DEV-186-fe-댓글-등록
  be15_DevEagles_FE/src/features/comment/api/comment.js
  be15_DevEagles_FE/src/features/comment/components/CommentForm.vue
  be15_DevEagles_FE/src/features/comment/view/CommentList.vue
Labels: feat

#366 feat: DEV-189 채팅 팀 목록 백엔드 썸네일 적용, 알림 디자인 수정, 일부 디자인 수정
  be15_DevEagles_FE/src/assets/css/toast.css
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/components/common/layout/TeamSidebar.vue
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/components/ChatNotificationToast.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/composables/useChatWindow.js
  be15_DevEagles_FE/src/features/chat/composables/useNotifications.js
  be15_DevEagles_FE/src/features/chat/utils/chatUtils.js
  be15_DevEagles_FE/src/features/team/components/TeamMemberList.vue
  be15_DevEagles_FE/src/store/chat.js
Labels: fix

#380 feat:DEV-194 fe 타임캡슐 생성
  be15_DevEagles_FE/src/components/common/layout/Sidebar.vue
  be15_DevEagles_FE/src/features/timecapsule/api/timecapsuleApi.js
  be15_DevEagles_FE/src/features/timecapsule/components/TimecapsuleCreateForm.vue
  be15_DevEagles_FE/src/features/timecapsule/composables/useTimecapsule.js
  be15_DevEagles_FE/src/features/timecapsule/router.js
  be15_DevEagles_FE/src/features/timecapsule/views/TimecapsuleCreatePage.vue
  be15_DevEagles_FE/src/router/index.js
Labels: feat

#385 fix: DEV-190 웹소켓 연결 관련 문제 해결 (여러 컴포넌트에서 초기화 하는 문제 등)
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/ChatWebSocketController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/UserStatusController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketEventHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/infrastructure/adapters/ChatRedisSyncScheduler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/infrastructure/repository/MongoMessageQueryRepositoryImpl.java
  be15_DevEagles_FE/src/App.vue
  be15_DevEagles_FE/src/components/common/layout/Header.vue
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/features/chat/api/userStatusService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/components/ChatWindow.vue
  be15_DevEagles_FE/src/features/chat/components/MessageReadStatus.vue
  be15_DevEagles_FE/src/features/chat/composables/useDebounce.js
  be15_DevEagles_FE/src/features/team/components/TeamMemberList.vue
  be15_DevEagles_FE/src/features/user/views/LoginView.vue
  be15_DevEagles_FE/src/main.js
  be15_DevEagles_FE/src/store/auth.js
  be15_DevEagles_FE/src/store/chat.js
  be15_DevEagles_FE/src/store/userStatus.js
Labels: fix

#389 feat:DEV-194 fe 타임캡슐 생성
  be15_DevEagles_FE/src/features/timecapsule/api/timecapsuleApi.js
  be15_DevEagles_FE/src/features/timecapsule/components/TimecapsuleCreateForm.vue
Labels: fix

#391 fix : DEV-197-be-refresh-token-재발급
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/common/jwt/JwtTokenProvider.java
Labels: fix

#392 feat:DEV-164 fe 타임캡슐 출력
  be15_DevEagles_FE/src/App.vue
  be15_DevEagles_FE/src/features/timecapsule/api/timecapsuleApi.js
  be15_DevEagles_FE/src/features/timecapsule/components/TimecapsuleCreateForm.vue
Labels: feat, fix

#394 Fix/rollback to read status UI
  be15_DevEagles_BE/gradle/wrapper/gradle-wrapper.properties
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/config/websocket/WebSocketEventHandler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/infrastructure/adapters/ChatRedisSyncScheduler.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/query/infrastructure/repository/MongoMessageQueryRepositoryImpl.java
  be15_DevEagles_FE/src/components/common/layout/Header.vue
  be15_DevEagles_FE/src/components/common/layout/Layout.vue
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/features/chat/api/userStatusService.js
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/composables/useDebounce.js
  be15_DevEagles_FE/src/store/auth.js
  be15_DevEagles_FE/src/store/chat.js
  be15_DevEagles_FE/src/store/userStatus.js
  be15_DevEagles_FE/src/utils/logger.js
Labels: fix

#396 Feature/dev 198 be 채팅방 생성 비즈니스 로직 적용 및 swagger
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/AiChatController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/chat/command/application/controller/UserStatusController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/impl/TeamMemberCommandServiceImpl.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/UserCommandServiceImpl.java
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/features/chat/components/ChatList.vue
  be15_DevEagles_FE/src/features/chat/utils/chatUtils.js
  be15_DevEagles_FE/src/store/chat.js
  be15_DevEagles_FE/src/store/team.js
Labels: feat

#403 Chore/dev 201 be swagger 작성
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/command/application/controller/TodoController.java
  be15_DevEagles_BE/src/main/java/com/deveagles/be15_deveagles_be/features/todolist/query/application/controller/TodoQueryController.java
Labels: chore

#406 Fix/dev 202 be 팀 유저 테스트코드 수정
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/CreateTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/DeleteTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/FireTeamMemberTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/InviteTeamMemberTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/TransferLeaderTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/UploadTeamThumbnailTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/team/command/application/service/WithdrawTeamTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/application/service/impl/UserCommandServiceTest.java
  be15_DevEagles_BE/src/test/java/com/deveagles/be15_deveagles_be/features/user/command/exception/UserExceptionTest.java
Labels: fix

#410 Fix/dev 203 fe 풀캘린더 날짜 부분 한글로 수정
  be15_DevEagles_FE/src/features/todolist/components/TodoCalendar.vue
Labels: fix

#399 feat: DEV-183 프론트엔드 Logger 적용하여 로그 레벨 정의
  be15_DevEagles_FE/src/features/chat/api/aiChatService.js
  be15_DevEagles_FE/src/features/chat/api/chatService.js
  be15_DevEagles_FE/src/features/chat/api/userStatusService.js
  be15_DevEagles_FE/src/features/chat/api/webSocketService.js
  be15_DevEagles_FE/src/features/chat/composables/useAiChat.js
  be15_DevEagles_FE/src/features/chat/composables/useChatInfiniteScroll.js
  be15_DevEagles_FE/src/features/chat/composables/useChatRoom.js
  be15_DevEagles_FE/src/features/chat/composables/useChatScroll.js
  be15_DevEagles_FE/src/features/chat/composables/useChatWebSocket.js
  be15_DevEagles_FE/src/features/chat/composables/useChatWindow.js
  be15_DevEagles_FE/src/features/chat/composables/useMessages.js
  be15_DevEagles_FE/src/features/chat/composables/useNotifications.js
  be15_DevEagles_FE/src/features/chat/types/index.js
  be15_DevEagles_FE/src/store/chat.js
  be15_DevEagles_FE/src/store/userStatus.js
Labels: feat

#414 fix: 업무 목록 페이지 수정
  be15_DevEagles_FE/src/features/worklog/components/WorkLog.vue
  be15_DevEagles_FE/src/features/worklog/views/WorkLogListView.vue
Labels: fix

#415 Fix/dev 205 fe 디자인 수정
  be15_DevEagles_FE/src/features/todolist/components/TodoCalendar.vue
  be15_DevEagles_FE/src/features/todolist/components/TodoCreateModal.vue
  be15_DevEagles_FE/src/features/todolist/components/TodoDetailModal.vue
  be15_DevEagles_FE/src/features/todolist/router.js
  be15_DevEagles_FE/src/features/todolist/views/MyCalendarView.vue
  be15_DevEagles_FE/src/features/todolist/views/TeamCalendarView.vue
Labels: fix

#419 feat: DEV-199 헤더 오류 수정 (user 참조 삭제)
  be15_DevEagles_FE/src/components/common/layout/Header.vue
Labels: fix

#426 refactor: DEV-209 #comment CI/CD 환경 구축 및 테스트
  be15_DevEagles_BE/Dockerfile
Labels: refactor

#427 chore: DEV-209 #comment CI/CD 환경 구축 및 테스트-docker
  docker-compose.yml
Labels: chore

#429 fix : DEV-197-be-refresh-token-재발급
  be15_DevEagles_FE/src/api/axios.js
  be15_DevEagles_FE/src/features/user/api/user.js
  be15_DevEagles_FE/src/features/user/components/UserWithdrawModal.vue
  be15_DevEagles_FE/src/features/user/views/LoginView.vue
Labels: fix

#437 feat:DEV-211 fe 타임캡슐 출력 화면 UI 수정
  be15_DevEagles_FE/src/App.vue
Labels: fix

#440 feat: DEV-212 alert창 토스티피케이션으로 모두 대체
  be15_DevEagles_FE/src/components/common/layout/RightSidebar.vue
  be15_DevEagles_FE/src/features/team/components/TeamMemberList.vue
  be15_DevEagles_FE/src/features/timecapsule/views/TimecapsuleList.vue
  be15_DevEagles_FE/src/features/worklog/views/WorkCreate.vue
Labels: feat

#447 README_v2.md
  README.md
Labels: documentation

#448 feat : gitignore 설정 변경
  .gitignore
Labels: feat

#450 git gradle wrapper
  be15_DevEagles_BE/gradle/wrapper/gradle-wrapper.jar
Labels: chore

#451 README_v3.md
  README.md
Labels: documentation

#455 README.md
  README.md
Labels: documentation

#458 README_v5.md
  README.md
Labels: documentation
